<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Users</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></div>
      <div class="breadcrumb-item"><%= link_to 'Users', users_path %></div>
      <div class="breadcrumb-item">Show User</div>
    </div>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>Show User</h4>
      </div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-3">Name:</dt>
          <dd class="col-sm-9"><%= @user.name %></dd>
          <dt class="col-sm-3">Nickname:</dt>
          <dd class="col-sm-9"><%= @user.nickname %></dd>
          <dt class="col-sm-3">Email:</dt>
          <dd class="col-sm-9"><%= @user.email %></dd>
          <dt class="col-sm-3">Birthdate:</dt>
          <dd class="col-sm-9"><%= @user.birthdate.strftime("%d/%m/%Y") %></dd>
          <dt class="col-sm-3">Country:</dt>
          <dd class="col-sm-9"><%= @user.country %></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-md">
      <thead>
        <tr>
          <th><%= sort_link_turbo(@search, :name) %></th>
          <th><%= sort_link_turbo(@search, :price) %></th>
        </tr>
      </thead>
      <tbody data-target="infinite-page.container">
        <% @user.products.each do |product| %>
          <tr data-target="infinite-page.item">
            <td><%= product.name %></td>
            <td><%= np(product.price) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% unless @user.is_blocked %>
    <div class="table-responsive">
      <table class="table table-striped table-md">
        <thead>
          <tr>
            <th><%= sort_link_turbo(@search, :name) %></th>
            <th><%= sort_link_turbo(@search, :nickname) %></th>
            <th><%= sort_link_turbo(@search, :email) %></th>
            <th><%= sort_link_turbo(@search, :birthdate) %></th>
            <th><%= sort_link_turbo(@search, :country) %></th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody data-target="infinite-page.container">
          <% @users.each do |user| %>
            <tr data-target="infinite-page.item">
              <td><%= user.name %></td>
              <td><%= user.nickname %></td>
              <td><%= user.email %></td>
              <td><%= user.birthdate.strftime("%d/%m/%Y") %></td>
              <td><%= user.country %></td>
              <td>
                <% if user.is_blocked %>
                  <%= "On Vacation" %>
                <% else %>
                  <%= link_to icon('fas fa-dice', 'Change Equipment'), user_choose_equipment_path(@user, chosen_user: user), class: 'btn btn-sm btn-icon icon-left btn-info' %>                       
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</section>

<%= link_to icon('fas fa-edit', 'Edit'), edit_user_path(@user), class: 'btn btn btn-icon icon-left btn-warning' %>
<%= link_to icon('fas fa-arrow-left', 'Back'), users_path, class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>

<% content_for(:page_title, 'Show User') %>
