<div id="<%= dom_id equipment %>">
  <p>
    <strong>Nam:</strong>
    <%= equipment.nam %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= equipment.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= equipment.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= equipment.user_id %>
  </p>

</div>
